@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border-radius: 40px;
    height: 60px;
    margin-right: 16px;
    flex: 1;
    font-size: 18px;
    outline: 0;
    border: 0;
    color: #555;
    padding: 5px 0 5px 20px;
}

.search button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}


.weather-icon {
    width: 180px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.weather h1 {
    font-size: 85px;
    font-weight: 650;
}

.weather h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 25px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: 10px;
}