@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border-radius: 40px;
    height: 60px;
    margin-right: 16px;
    flex: 1;
    font-size: 18px;
    outline: 0;
    border: 0;
    color: #555;
    padding: 5px 0 5px 10px;
}

.search button {
    border-radius: 30px
}